<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обо мне</title>
</head>
<body>
    <h1>Обо мне</h1>
    <a href="index.html">Главная страница</a>
    <a href="contact.html">Контакты</a>
    <a href="feedback.html">Обратная связь</a>

    <h2>Кто я?</h2>
    <p>Я - простой человек</p>

    <h2>Чем я занимаюсь?</h2>
    <p>Я занимаюсь программированием</p>

    <h2>Чем хочу заниматься?</h2>
    <p>Хочу заниматься программированием</p>

    <h2>Какие у меня есть навыки?</h2>
    <p>У меня есть навыки программирования</p>

    <h2>Какие у меня есть увлечения?</h2>
    <p>У меня есть увлечения программированием</p>

    <h2>Как можно со мной связаться?</h2>
    <p>Мои контакты:</p>
    <ul>
        <li>Телефон: 111111111111</li>
        <li>Email: 111111111111</li>
    </ul>
</body>
</html>