<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница</h1>
    <a href="about.html">Обо мне</a>
    <a href="contact.html">Контакты</a>
    <a href="feedback.html">Обратная связь</a>

    <h2>Список статей</h2>
    <ul>
        <li><a href="article1.html">Статья 1</a></li>
        <li><a href="article2.html">Статья 2</a></li>
        <li><a href="article3.html">Статья 3</a></li>
    </ul>
</body>
</html>